.homeRoot {
    background-image: url('./../assets/images/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loadpage-wrapper {
    background-image: url('./../assets/images/desert.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: contrast(60%); 
}